﻿@using LitigationICS.BLL
@using LitigationICS.DAL
@model litigation

@{
    ViewBag.Title = "Crear";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    int? clientId = int.Parse(ViewData["Client"].ToString());
}

<div class="container">
    <h3><b>Agregar Nuevo Proceso</b></h3>
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            @using (Html.BeginForm("JudicialLitigationRegistered", "JudicialLitigation", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("clientId", clientId)
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Número de Expediente:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.recordNumber, null, new { @maxlength = "30" })
                                        @Html.ValidationMessageFor(model => model.recordNumber)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <label for="">Estimación:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.estimate, null, new { @onkeypress = "javascript: return isNumber(event)", @maxlength = "30" })
                                                @Html.ValidationMessageFor(model => model.estimate)
                                            </div>
                                            @Html.RadioButton("coin", "$", isChecked: true)
                                            @Html.Label("$")
                                            <br />
                                            @Html.RadioButton("coin", "¢", isChecked: false)
                                            @Html.Label("¢")
                                            <br />
                                            <input type="checkbox" id="unrated" value="true" name="unrated" />
                                            <input type="hidden" id="unrated" value="false" name="unrated" />
                                            @Html.Label("Inestimado")
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Honorarios:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextAreaFor(model => model.fee, 4, 5, new { @class = "input-textarea-height no-padding"})
                                        @Html.ValidationMessageFor(model => model.fee)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Tribunal:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.juditial_litigation.FirstOrDefault().Court, null, new { @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().Court)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default height-bottom-secondpanel-default-judicial-litigation">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for=" ">
                                        Fecha de Inicio:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.initDate, null, new { @class = "datepicker-register-form" })
                                        @Html.ValidationMessageFor(model => model.initDate)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Estado Actual:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.DropDownList("drpStates", ViewData["States"] as SelectList)
                                    </div>
                                </div>
                                <div class="form-group margin-bottom-secondpanel-default-judicial-litigation">
                                    <label for="">Objeto del Proceso:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextAreaFor(model => model.objectProcess, 12, 5, new { @class = "input-textarea-height no-padding", @id = "litigationTextArea" })
                                        @Html.ValidationMessageFor(model => model.objectProcess)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default height-fourthpanel-default-judicial-litigation">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Partes:</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <div class="form-group">
                                            <label>Actor:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.juditial_litigation.FirstOrDefault().Actor)
                                                @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().Actor)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Demandado:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.juditial_litigation.FirstOrDefault().Defendant)
                                                @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().Defendant)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label>Coadyuvante:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.juditial_litigation.FirstOrDefault().Adjuvant)
                                                @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().Adjuvant)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default height-fourthpanel-default-judicial-litigation">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Siguiente Etapa:</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <div class="form-group">
                                            <label>Detalle:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.nextStepDetail)
                                                @Html.ValidationMessageFor(model => model.nextStepDetail)
                                            </div>
                                        </div>
                                        <div class="">
                                            <label>Fecha:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.nextStepDate, null, new { @class = "datepicker-register-form" })
                                                @Html.ValidationMessageFor(model => model.nextStepDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default height-fifthpanel-default-judicial-litigation">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Medida Cautelar:</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <label>Estado Actual:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.DropDownList("drpStatesCaution", ViewData["cautionStates"] as SelectList)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Siguiente Etapa (Medida Cautelar):</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <label>Detalle:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.TextBoxFor(model => model.juditial_litigation.FirstOrDefault().cautionNextStepDetail)
                                            @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().cautionNextStepDetail)
                                        </div>
                                        <div class="">
                                            <label>Fecha:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.juditial_litigation.FirstOrDefault().cautionNextStepDate, null, new { @class = "datepicker-register-form" })
                                                @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().cautionNextStepDate)
                                            </div>
                                        </div>
                                    </div>                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2 no-padding-left no-padding-right">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <button class="btn-cancelar" id="btn-cancelar" type="button" onclick="getCancelarObservationOption();">Cancelar</button>
                                <button class="btn-accept" id="btn-guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}