﻿@using LitigationICS.BLL
@using LitigationICS.DAL
@model litigation

@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    string shortDate = String.Empty;
    int? clientId = int.Parse(ViewData["clientId"].ToString());
    string recordNumber = ViewData["recordNumber"].ToString();
}

<div class="container">
    <h3><b>Editar Proceso @recordNumber</b></h3>
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            @using (Html.BeginForm("updateLitigation", "Litigation", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("clientId", clientId)
                @Html.Hidden("litigationId", Model.id)
                @Html.Hidden("litigationType", true)
                
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default no-margin-bottom">
                            <div class="panel-body no-padding-bottom">
                                <div class="form-group">
                                    <label for="">Número de Expediente:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.recordNumber, null, new { @maxlength = "30" })
                                        @Html.ValidationMessageFor(model => model.recordNumber)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <label for="">Estimación:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.estimate, null, new { @Name = "judicialEstimate", @onkeypress = "javascript: return isNumber(event)", @maxlength = "30" })
                                                @Html.ValidationMessageFor(model => model.estimate)
                                            </div>
                                            <br />
                                            @if (Model.coin.Contains("$")){
                                                @Html.RadioButton("coin", "$", isChecked: true)
                                                @Html.Label("$")
                                                <br />
                                                @Html.RadioButton("coin", "¢", isChecked: false)
                                                @Html.Label("¢")
                                            }
                                            else if (Model.coin.Contains("¢")){
                                                @Html.RadioButton("coin", "$", isChecked: false)
                                                @Html.Label("$")
                                                <br />
                                                @Html.RadioButton("coin", "¢", isChecked: true)
                                                @Html.Label("¢")
                                            }
                                            <br />
                                            @if (Model.unrated.Value){
                                                <input type="checkbox" id="unrated" value="true" name="unrated" checked />
                                                <input type="hidden" id="unrated" value="false" name="unrated" />
                                                @Html.Label("Inestimado")
                                            }
                                            else{
                                                <input type="checkbox" id="unrated" value="true" name="unrated" />
                                                <input type="hidden" id="unrated" value="false" name="unrated" />
                                                @Html.Label("Inestimado")
                                            }
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="">Honorarios:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextAreaFor(model => model.fee, 4, 5, new { @class = "input-textarea-height no-padding", @Name = "judicialFee"})
                                        @Html.ValidationMessageFor(model => model.fee, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Tribunal:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.juditial_litigation.FirstOrDefault().Court)
                                        @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().Court)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-default height-bottom-secondpanel-default-judicial-litigation">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for=" ">
                                        Fecha de Inicio:
                                    </label>
                                    <br />
                                    @{
                                        shortDate = Model.initDate.ToString(IConstants.dateFormat);
                                    }
                                    <div class="form-style-8">
                                        @Html.TextBox("initDate", shortDate, new { @class = "datepicker-edit-form" })
                                        @Html.ValidationMessageFor(model => model.initDate)
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="">Estado Actual:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.DropDownList("drpStates", ViewData["States"] as SelectList, new { @Name = "judicialActualState" })
                                    </div>
                                </div>

                                <div class="form-group margin-bottom-secondpanel-default-judicial-litigation">
                                    <label for="">Objeto del Proceso:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextAreaFor(model => model.objectProcess, 12, 5, new { @class = "input-textarea-height no-padding", @Name = "judicialObjectProcess", @id = "litigationTextArea" })
                                        @Html.ValidationMessageFor(model => model.objectProcess, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default height-fourthpanel-default-judicial-litigation">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Partes:</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <div class="form-group">
                                            <label>Actor:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.juditial_litigation.Where(k => k.idLitigation == Model.id).FirstOrDefault().Actor)
                                                @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().Actor)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Demandado:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.juditial_litigation.Where(k => k.idLitigation == Model.id).FirstOrDefault().Defendant)
                                                @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().Defendant)
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label>Coadyuvante:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.juditial_litigation.Where(k => k.idLitigation == Model.id).FirstOrDefault().Adjuvant, null, new { @Name = "judicialAdjuvant"})
                                                @Html.ValidationMessageFor(model => model.juditial_litigation.FirstOrDefault().Adjuvant, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-default height-fourthpanel-default-judicial-litigation">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Siguiente Etapa:</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <div class="form-group">
                                            <label>Detalle:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.nextStepDetail, null, new { @Name = "nextStepDetail"})
                                            </div>
                                        </div>
                                        <div class="">
                                            <label>Fecha:</label>
                                            <br />
                                            @{
                                                if (!String.IsNullOrEmpty(Model.nextStepDate.ToString())){
                                                    shortDate = Model.nextStepDate.Value.ToString(IConstants.dateFormat);
                                                }
                                                else{
                                                    shortDate = String.Empty;
                                                }
                                            }
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => shortDate, null, new { @class = "datepicker-edit-form", @Name = "nextStepDate", @Value = @shortDate})
                                                @Html.ValidationMessageFor(model => model.nextStepDate)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default height-fifthpanel-default-judicial-litigation">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Medida Cautelar:</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <label>Estado Actual:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.DropDownList("drpStates", ViewData["cautionStates"] as SelectList, new { @Name = "judicialCautionActualState" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="">Siguiente Etapa (Medida Cautelar):</label>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-offset-1">
                                        <label>Detalle:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.TextBoxFor(model => model.juditial_litigation.FirstOrDefault().cautionNextStepDetail, null, new { @Name = "cautionNextStepDetail" })
                                        </div>
                                        <div class="">
                                            <label>Fecha:</label>
                                            <br />
                                            @{
                                                if (!String.IsNullOrEmpty(Model.juditial_litigation.FirstOrDefault().cautionNextStepDate.ToString())){
                                                    shortDate = Model.juditial_litigation.FirstOrDefault().cautionNextStepDate.Value.ToString(IConstants.dateFormat);
                                                }
                                                else{
                                                    shortDate = String.Empty;
                                                }
                                            }
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => shortDate, null, new { @class = "datepicker-edit-form", @Name = "cautionNextStepDate", @Value = @shortDate})
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2 no-padding-left no-padding-right">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <button class="btn-cancelar" id="btn-cancelar" type="button" onclick="getCancelarObservationOption();">Cancelar</button>
                                <button class="btn-accept" id="btn-guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


