﻿@using LitigationICS.BLL
@using LitigationICS.DAL
@model juditial_litigation

@{
    ViewBag.Title = "Procesos Judiciales";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    string estimateOrUnrated = String.Empty;
    int? clientId = int.Parse(ViewData["clientId"].ToString());
    int? litigationId = int.Parse(ViewData["litigationId"].ToString());
    string _Active = String.Empty;
    List<client> listClients = (List<client>)ViewData["listClients"];
    List<juditial_litigation> listJudicialLitigations = (List<juditial_litigation>)ViewData["listJudicialLitigations"];
    List<admin_litigation> listAdminLitigations = (List<admin_litigation>)ViewData["listAdminLitigations"];
    juditial_litigation judicialLitigation = (juditial_litigation)ViewData["dataJudicialLitigation"];
    List<observation> listObservations = (List<observation>)ViewData["listObservations"];
}

<div class="container-fluid no-padding">
    <div class="col-md-12 no-padding">
        <div class="col-md-2 no-padding-left no-padding-right">
            <div class="list-container">
                <div class="clients">
                    <div class="left-inner-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        @Html.TextBox("clientFilter", null, new { type = "search", placeholder = "Filtrar", @Name = "nameFilter", @class = "form-control" })
                    </div>
                    <div class="padding-topbottom-litigation-clientheader">
                        <header>
                            <span class="glyphicon glyphicon-king margin-left-clientheader-icon"></span>
                            <strong class="margin-left-icon-header">Clientes</strong>
                        </header>
                    </div>
                    <ul class="list-group">
                        @foreach (client client in listClients)
                        {
                            <li class="list-group-item general-label client-item" id="@client.id" onclick="goToLitigationsPageByClientId( @client.id )">
                                <strong>@Html.ActionLink(client.groupByName, "Index", "Litigation", new { @class = "general-label", @href = "javascript: goToLitigationsPageByClientId(" + client.id + ")" })</strong>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 no-padding-left no-padding-right">
            <div class="list-container">
                <div class="litigations">
                    <div class="container-fluid inline no-padding">
                        <div class="row-fluid">
                            <div class="left-inner-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                @Html.TextBox("litigationFilter", null, new { type = "search", placeholder = "Filtrar", @Name = "nameFilter", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 no-padding margin-top-litigationheader text-left">
                                <header>
                                    <span class="glyphicon glyphicon-cog margin-left-litigation-litigationheader-icon"></span>
                                    <strong class="margin-left-icon-header">Procesos</strong>
                                </header>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 text-right">
                                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 padding-btn-delete">
                                    <button class="btn-link btn-show-delete-modal">
                                        <img src="~/images/btn-delete.png" alt="plus" width="42" height="42" />
                                    </button>
                                </div>
                                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
                                    <button class="btn-link btn-show-modal">
                                        <img src="~/images/btn-add-litigios.gif" alt="plus" width="55" height="50" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <div class="text-center">
                                <strong class="text-center">Judiciales</strong>
                            </div>
                            <div id="judicialLitigations">
                                @if (listJudicialLitigations.Count > 0)
                                {
                                    <ul class="list-group litigations">
                                        @foreach (juditial_litigation litigation in listJudicialLitigations)
                                        {
                                            <li class="list-group-item cursor litigation-item" id="@litigation.idLitigation" style="cursor:pointer" onclick="goToJudicialLitigationsPageByClientId(@litigation.id,@clientId)">
                                                <strong>@Html.ActionLink(litigation.litigation.recordNumber, "Index", "JudicialLitigation", new { @class = "general-label", @href = "javascript: goToJudicialLitigationsPageByClientId(" + litigation.id + ", " + clientId + ")" })</strong>
                                                @Html.Label(litigation.Actor, litigation.Actor, new { @hidden = "hidden" })
                                                @Html.Label(litigation.Defendant, litigation.Defendant, new { @hidden = "hidden" })
                                                @Html.Label(litigation.Court, litigation.Court, new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.actualState, litigation.litigation.actualState, new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.nextStepDate.ToString(), litigation.litigation.nextStepDate.ToString(), new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.nextStepDetail, litigation.litigation.nextStepDetail, new { @hidden = "hidden" })
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list-group">
                                        <li class="list-group-item cursor text-danger">
                                            <strong>
                                                Sin procesos judiciales
                                            </strong>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="text-center">
                                <strong>Administrativos</strong>
                            </div>
                            <div id="adminLitigations">
                                @if (listAdminLitigations.Count > 0)
                                {
                                    <ul class="list-group litigations">
                                        @foreach (admin_litigation litigation in listAdminLitigations)
                                        {
                                            <li class="list-group-item cursor litigation-item" id="@litigation.idLitigation" onclick="goToAdminLitigationsPageByClientId(@litigation.id,@clientId)">
                                                <strong>@Html.ActionLink(litigation.litigation.recordNumber, "detailAdminLitigation", "AdminLitigation", new { @class = "general-label", @href = "javascript: goToAdminLitigationsPageByClientId(" + litigation.id + "," + clientId + ")" })</strong>
                                                @Html.Label(litigation.TaxAdmin, litigation.TaxAdmin, new { @hidden = "hidden" })
                                                @Html.Label(litigation.Type, litigation.Type, new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.actualState, litigation.litigation.actualState, new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.nextStepDate.ToString(), litigation.litigation.nextStepDate.ToString(), new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.nextStepDetail, litigation.litigation.nextStepDetail, new { @hidden = "hidden" })
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list-group">
                                        <li class="list-group-item cursor text-danger">
                                            <strong>
                                                Sin procesos administrativos
                                            </strong>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="row-fluid">
                <div class="col-md-10 col-sm-10 col-xs-10 col-lg-10">
                    <h3>
                        <strong>@Model.litigation.recordNumber</strong>
                    </h3>
                </div>
                <div class="col-md-2 col-sm-2 col-xs-2 col-lg-2 no-padding">
                    @using (Html.BeginForm("Edit", "Litigation", FormMethod.Post))
                    {
                        @Html.Hidden("clientId", clientId)
                        @Html.Hidden("litigationId", litigationId)
                        @Html.Hidden("litigationType", 1)
                        <button type="submit" class="btn-link no-padding">
                            <img src="~/images/btn-edit.gif" height="50" width="50" />
                        </button>
                    }
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <div class="form-group">
                        <label>Estimación</label>
                        <br />
                        <span>
                            @if (Model.litigation.unrated.Value){
                                estimateOrUnrated = "Inestimado";
                                @estimateOrUnrated
                            }
                            else{
                                @judicialLitigation.litigation.coin @Html.DisplayFor(model => model.litigation.estimate)
                            }                        
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Honorarios</label>
                        <br />
                        <span>
                            @Html.DisplayFor(model => model.litigation.fee)
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Partes</label>
                        <br />
                        <div class="col-md-offset-1">
                            <label class="litigation-labels">Actor: </label>
                            <span class="">
                                @judicialLitigation.Actor
                            </span>
                            <br />
                            <label class="litigation-labels">Demandante: </label>
                            <span class="">
                                @judicialLitigation.Defendant
                            </span>
                            <br />
                            <label class="litigation-labels">Coadyuvante: </label>
                            <span class="">
                                @judicialLitigation.Adjuvant
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Objeto del Proceso: </label>
                        <br />
                        <span>
                            @judicialLitigation.litigation.objectProcess
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Tribunal: </label>
                        <br />
                        <span>
                            @judicialLitigation.Court
                        </span>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-6 col-lg-4">
                    <div class="form-group">
                        <label>Fecha de inicio:</label>
                        <br />
                        @{
                            string shortDate = judicialLitigation.litigation.initDate.ToString(IConstants.dateFormat);
                        }
                        <span>
                            @shortDate
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Estado Actual:</label>
                        <br />
                        <span>
                            @judicialLitigation.litigation.actualState
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Siguiente Etapa</label>
                        <br />
                        <div class="col-md-offset-1">
                            <label class="litigation-labels">Detalle: </label>
                            <span>
                                @judicialLitigation.litigation.nextStepDetail
                            </span>
                            <br />
                            <label class="litigation-labels">Fecha: </label>
                            <span>
                                @{
                                    if (!String.IsNullOrEmpty(judicialLitigation.litigation.nextStepDate.ToString())){
                                        shortDate = judicialLitigation.litigation.nextStepDate.Value.ToString(IConstants.dateFormat);

                                    }
                                    else {
                                        shortDate = String.Empty;
                                    }
                                }
                                @shortDate
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Medida Cautelar</label>
                        <br />
                        <div class="col-md-offset-1">
                            <label>Estado Actual:</label>
                            <br />
                            <span>
                                @judicialLitigation.cautionActualState
                            </span>
                            <label>Siguiente Etapa</label>
                            <br />
                            <label class="litigation-labels">Detalle: </label>
                            <span class="">
                                @judicialLitigation.cautionNextStepDetail
                            </span>
                            <br />
                            <label class="litigation-labels">Fecha: </label>
                            <span>
                                @{
                                    if (!String.IsNullOrEmpty(judicialLitigation.cautionNextStepDate.ToString())){
                                        shortDate = judicialLitigation.cautionNextStepDate.Value.ToString(IConstants.dateFormat);
                                    }
                                    else{
                                        shortDate = String.Empty;
                                    }
                                }
                                @shortDate
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
                    <header><h4><strong>Observaciones</strong></h4></header>
                </div>
            </div>
            <div class="row-fluid">
                <div class="">
                    @if (listObservations.Count != 0)
                    {
                        <div class="table-responsive">
                            <table class="table-pager table table-hover" id="table-responsive">
                                <thead>
                                    <tr>
                                        <th class="col-md-1 col-xs-1 col-sm-1 col-lg-1">#</th>
                                        <th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Fecha</th>
                                        <th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">Asunto</th>
                                        <th class="col-md-5 col-xs-5 col-sm-5 col-lg-5">Detalle</th>
                                        <th class="col-md-2 col-xs-2 col-sm-2 col-lg-2">
                                            @using (Html.BeginForm("Index", "Observation", FormMethod.Post))
                                            {
                                                @Html.AntiForgeryToken()
                                                @Html.ValidationSummary(true)
                                                @Html.Hidden("litigationId", litigationId)
                                                @Html.Hidden("judicialLitigation", judicialLitigation.id)
                                                @Html.Hidden("clientId", clientId)
                                                <button class="btn-link" type="submit">
                                                    <img src="~/images/btn-add.gif" width="50" height="50" />
                                                </button>
                                            }
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (int index = 0; index < listObservations.Count; index++)
                                    {
                                        <tr onclick="showObservation(@listObservations[index].id, @judicialLitigation.id, 0, @clientId, @litigationId);">
                                            <td>@{ int tableIndex = index + 1; } @tableIndex</td>
                                            <td>
                                                @{
                                        if (!listObservations[index].Date.Equals(null))
                                        {
                                            shortDate = listObservations[index].Date.Value.ToString(IConstants.dateFormat);
                                        }
                                                }
                                                @shortDate
                                            </td>
                                            <td>@listObservations[index].Subject</td>
                                            <td>@listObservations[index].Body</td>
                                            <td></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <div class="paging-nav padding-rightbottom-table-pager" id="pagination">
                        </div>
                    }
                    else
                    {
                        <div class="row-fluid">
                            <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 padding-top-bottom-litigation-observationheader">
                                <strong class="text-danger no-padding">
                                    No existen observaciones disponibles
                                </strong>
                            </div>
                            <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-center">
                                @using (Html.BeginForm("Index", "Observation", FormMethod.Post))
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true)
                                    @Html.Hidden("litigationId", litigationId)
                                    @Html.Hidden("judicialLitigation", judicialLitigation.id)
                                    @Html.Hidden("clientId", clientId)
                                    <button class="btn-link" type="submit">
                                        <img src="~/images/btn-add.gif" width="50" height="50" />
                                    </button>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="getLitigationsId" id="@litigationId"></div>
<div class="getClientsId" id="@clientId"></div>

<div class="modal fade no-padding-left" id="dialog-litigation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3><b>Agregar Proceso</b></h3>
            </div>
            @using (Html.BeginForm("CreateNewLitigation", "Litigation", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @Html.Hidden("clientId")
                                <div class="col-md-9">
                                    @Html.Label("Procesos Judiciales")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "1", isChecked: true)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    @Html.Label("Procediemientos Administrativos")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "2", isChecked: false)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row-fluid text-center">
                        <button id="btn-hide-modal" class="btn-cancelar">Cancelar</button>
                        <button class="btn-accept" type="submit">Crear</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade no-padding-left" id="dialog-eliminate-litigation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3><b>Eliminar Proceso</b></h3>
            </div>
            @using (Html.BeginForm("Delete", "Litigation", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @Html.Hidden(clientId.ToString(), clientId, new { @Name = "clientId" })
                                <div class="col-md-9">
                                    @Html.Label("Procesos Judiciales")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "1", isChecked: true)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    @Html.Label("Procediemientos Administrativos")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "2", isChecked: false)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row-fluid text-center">
                        <button id="btn-hide-delete-modal" class="btn-cancelar">Cancelar</button>
                        <button class="btn-accept" type="submit">Eliminar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}