﻿@using LitigationICS.DAL
@model contact

@{
    ViewBag.Title = "Crear Contacto";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    client clientSelected = (client)ViewData["clientSelected"];
}

<div class="container">
    <h3>
        <strong>
            Agregar Nuevo Contacto a @Html.ActionLink(clientSelected.person.Name.ToUpper(), "", "", new { @class = "general-label", @href = "javascript: goToShowClientInformation(" + clientSelected.id + ")" })
        </strong>
    </h3>    
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            @if (ViewData["failedRegisterContact"] != null){
                @Html.Label(ViewData["failedRegisterContact"].ToString(), new { @class = "text-danger" })
            }
            @using (Html.BeginForm("registerContact", "Contact", FormMethod.Post)){
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("clientId", clientSelected.id)
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-4">
                        <div class="panel panel-default">
                            <div class="panel-body form-style-8">
                                <div class="form-group text-center">
                                    <h4>Información del Contacto</h4>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Nombre:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.person.Name, null, new { @Name = "contactName", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.person.Name)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Apellidos:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.person.LastName, null, new { @Name = "contactLastName", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Posición:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.Position, null, new { @Name = "contactPosition", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Teléfono:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.person.user_phone.FirstOrDefault().Phone, null, new { @Name = "contactPhone" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Correo:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.person.user_email.FirstOrDefault().Email, null, new { @Name = "contactEmail" })
                                        @Html.ValidationMessageFor(model => model.person.user_email.FirstOrDefault().Email)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-4 no-padding-left no-padding-right">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <button class="btn-cancelar" id="btn-cancelar" type="button" onclick="getCancelarObservationOption();">Cancelar</button>
                                <button class="btn-accept" id="btn-guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
