﻿@using LitigationICS.DAL

@{
    ViewBag.Title = "Contactos";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    List<client> listClients = (List<client>)ViewData["listClients"];
    contact contactSelected = null;
    client clientSelected = null;
    if (ViewData["contactSelected"] != null) { 
        contactSelected = (contact)ViewData["contactSelected"]; 
        clientSelected = (client)ViewData["clientSelected"];
    }
}
<div class="container-fluid no-padding">
    <div class="col-md-12 no-padding">
        <div class="col-md-3 no-padding-left no-padding-right">
            <div class="list-container">
                <div class="clients">
                    <div class="container-fluid inline no-padding">
                        <div class="row-fluid">
                            <div class="left-inner-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                @Html.TextBox("clientFilter", null, new { type = "search", placeholder = "Filtrar", @Name = "nameFilter", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 padding-topbottom-client-clientheader">
                                <header>
                                    <span class="glyphicon glyphicon-king margin-left-client-clientheader-icon"></span>
                                    <strong class="margin-left-icon-header">Clientes con Contactos</strong>
                                </header>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        @foreach (client client in listClients)
                        {
                            <li class="list-group-item general-label client-item" id="@client.id" style="cursor:pointer" onclick="goToContactsDetail(@client.id)">
                                <strong>@Html.ActionLink(client.person.Name, "showContacts", "Contact", new { clientId = client.id }, new { @class = "general-label", @href = "javascript: goToContactsDetail(" + client.id + ")" })</strong>
                                @Html.Label("searchableText", client.searchableText, new { @hidden = "hidden" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9 col-xs-12 col-sm-12">
            <div class="row-fluid">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <div class="row-fluid">
                        <div class="col-md-6 col-md-offset-3 col-xs-12">
                            <h3>
                                <strong>
                                    @Html.ActionLink(clientSelected.person.Name.ToUpper(), "", "", new { @class = "general-label", @href = "javascript: goToShowClientInformation(" + clientSelected.id + ")" })
                                </strong>
                            </h3>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="col-md-6 col-md-offset-3">
                            <div class="panel panel-default">
                                <div class="panel-heading text-center">
                                    <strong>Información del Contacto</strong>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="text-center">
                                            <label>Nombre:</label>
                                        </div>
                                        <span class="form-control">
                                            @contactSelected.person.Name
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <label>Apellidos:</label>
                                        </div>
                                        <span class="form-control">
                                            @contactSelected.person.LastName
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <label>Posición:</label>
                                        </div>
                                        <span class="form-control">
                                            @contactSelected.Position
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <label>Teléfono:</label>
                                        </div>
                                        <span class="form-control">
                                            @contactSelected.person.user_phone.Where(c => c.idUser == contactSelected.person.id).Select(up => up).FirstOrDefault().Phone
                                        </span>
                                    </div>
                                    <div class="form-group">
                                        <div class="text-center">
                                            <label>Correo:</label>
                                        </div>
                                        <span class="form-control">
                                            @contactSelected.person.user_email.Where(c => c.idUser == contactSelected.person.id).Select(ue => ue).FirstOrDefault().Email
                                        </span>
                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <div class="form-group text-center">
                                        @using (Html.BeginForm("showContacts", "Contact", FormMethod.Post))
                                        {
                                            @Html.Hidden("clientId", clientSelected.id)
                                            <button class="btn button">
                                                <strong>Volver a Contactos</strong>
                                            </button>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="getClientsId" id="@clientSelected.id"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}