﻿@using LitigationICS.DAL

@{
    ViewBag.Title = "Contactos";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    List<client> listClients = (List<client>)ViewData["listClients"];
    List<contact> listContacts = (List<contact>)ViewData["listContacts"];
    client clientSelected = null;
    if (ViewData["clientSelected"] != null) { 
        clientSelected = (client)ViewData["clientSelected"]; 
    }
}
<div class="container-fluid no-padding">
    <div class="col-md-12 no-padding">
        <div class="col-md-3 no-padding-left no-padding-right">
            <div class="list-container">
                <div class="clients">
                    <div class="container-fluid inline no-padding">
                        <div class="row-fluid">
                            <div class="left-inner-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                @Html.TextBox("clientFilter", null, new { type = "search", placeholder = "Filtrar", @Name = "nameFilter", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12 padding-topbottom-client-clientheader">
                                <header>
                                    <span class="glyphicon glyphicon-king margin-left-client-clientheader-icon"></span>
                                    <strong class="margin-left-icon-header">Clientes con Contactos</strong>
                                </header>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        @foreach (client client in listClients){
                            <li class="list-group-item general-label client-item" id="@client.id" style="cursor:pointer" onclick="goToContactsDetail(@client.id)">
                                <strong>@Html.ActionLink(client.person.Name, "showContacts", "Contact", new { clientId = client.id }, new { @class = "general-label", @href = "javascript: goToContactsDetail(" + client.id + ")" })</strong>
                                @Html.Label("searchableText", client.searchableText, new { @hidden = "hidden" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row-fluid">
                <div class="col-md-12 col-xs-12 col-sm-12">
                    <h4 class="padding-left-tittle"><strong>Contactos</strong></h4>
                    <div class="table-responsive">
                        <table class="table-pager table table-hover" id="table-responsive">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Posición</th>
                                    <th>Teléfono</th>
                                    <th>Correo</th>
                                    <th>
                                    @using (Html.BeginForm("Create", "Contact", FormMethod.Post)){
                                        @Html.Hidden("clientId", clientSelected.id)
                                        @Html.Hidden("errorMessage", false)                                           
                                        <button class="btn-link" type="submit">
                                            <img src="~/images/btn-add.gif" width="50" height="50" />
                                        </button>
                                    }
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (ViewData["clientWithoutContact"] == null){
                                    for (int index = 0; index < listContacts.Count; index++){
                                        <tr onclick="showContactById(@clientSelected.id, @listContacts[index].id);">
                                            <td>@{ int tableIndex = index + 1; } @tableIndex</td>
                                            <td>@listContacts[index].person.Name</td>
                                            <td>@listContacts[index].person.LastName</td>
                                            <td>@listContacts[index].Position</td>
                                            <td>@listContacts[index].person.user_phone.Where(up => up.idUser == listContacts[index].person.id).Select(up => up).FirstOrDefault().Phone</td>
                                            <td>@listContacts[index].person.user_email.Where(ue => ue.idUser == listContacts[index].person.id).Select(ue => ue).FirstOrDefault().Email</td>
                                            <td></td>
                                        </tr>
                                    }
                                }
                                else{
                                    <br />
                                    @Html.Label(ViewData["clientWithoutContact"].ToString(), new { @class = "text-danger" })                    
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="paging-nav padding-rightbottom-table-pager" id="pagination">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="getClientsId" id="@clientSelected.id"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}