﻿@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/layoutLogin.cshtml";
}
<div class="row-fluid height-login">
</div>
<div class="row-fluid">
    @using (Html.BeginForm("Login", "Login", new { isTheMainPage = true }, FormMethod.Post, new { @role = "form" }))
    {
        <div class="col-md-4 col-md-offset-4">
            <div class="form-group text-center">
                <img src="~/images/logo-ics.gif" width="100" height="70" />
            </div>
            <div class="form-group margin-bottom-inputs-login">
                @Html.TextBox("userName", null, new { type = "text", @class = "form-control", placeholder = "Usuario", @required = "required" })
            </div>
            <div class="form-group">
                @Html.Password("userPassword", null, new { type = "password", @class = "form-control", placeholder = "Contraseña", @required = "required" })
            </div>
            <div class="form-group text-center credentials-validation-error">
                <strong>@Html.ValidationMessage("loginError")</strong>
            </div>
            <div class="form-group text-center">
                <button class="btn btn-default form-control" type="submit" onclick="">Ingresar</button>
            </div>
        </div>
    }
</div>