﻿@using LitigationICS.DAL
@using LitigationICS.BLL

@{
    ViewBag.Title = "Reportes";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    client client = (client)ViewData["client"];
    List<juditial_litigation> listJudicialLitigations = (List<juditial_litigation>)ViewData["judicialLitigations"];
    List<admin_litigation> listAdminLitigations = (List<admin_litigation>)ViewData["adminLitigations"];
}

<div class="container">
    <h3><b>Reporte de Procesos</b></h3>
    <strong>>@Html.ActionLink(client.person.Name, "showClientInformation", "Client", new { @class = "general-label", @href = "javascript: goToShowClientInformation(" + client.id + ")" })</strong>
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#judicialLitigation"><strong>Procesos Judiciales</strong></a></li>
                <li><a data-toggle="tab" href="#adminLitigation"><strong>Procedimientos Administrativos</strong></a></li>
            </ul>
            <div class="tab-content">
                <div id="judicialLitigation" class="tab-pane fade in active list-group">
                    <div class="left-inner-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        @Html.TextBox("reportJudicialLitigationFilter", null, new { type = "search", placeholder = "Filtrar", @class = "form-control" })
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-report-width" id="table-responsive">
                            <thead>
                                <tr>
                                    <th>N° de Expediente</th>
                                    <th>Moneda</th>
                                    <th>Estimación</th>
                                    <th>Parte: Actor</th>
                                    <th>Parte: Demandado</th>
                                    <th>Parte: Coadyuvante</th>
                                    <th>Objeto del Proceso</th>
                                    <th>Estado Actual</th>
                                    <th>Siguiente Etapa: Fecha</th>
                                    <th>Siguiente Etapa: Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                            @foreach (juditial_litigation judicialLitigation in listJudicialLitigations.OrderByDescending(l => l.litigation.initDate)){
                                <tr onclick="gotoJudicialObservationReport(@judicialLitigation.id, @client.id);" class="judicialLitigation-item">
                                    <td>@judicialLitigation.litigation.recordNumber</td>
                                    <td>
                                        @if (!judicialLitigation.litigation.unrated.Value){
                                            @judicialLitigation.litigation.coin
                                        }
                                        else{
                                            @Html.Label("N/A")
                                        }
                                    </td>
                                    <td>
                                        @if (judicialLitigation.litigation.unrated.Value){
                                            string estimateOrUnrated = "Inestimado";
                                            @estimateOrUnrated
                                        }
                                        else{
                                            @Html.DisplayFor(model => judicialLitigation.litigation.estimate)
                                        }
                                    </td>
                                    <td>@judicialLitigation.Actor</td>
                                    <td>@judicialLitigation.Defendant</td>
                                    <td>@judicialLitigation.Adjuvant</td>
                                    <td class="object-process-width">@judicialLitigation.litigation.objectProcess</td>
                                    <td>@judicialLitigation.litigation.actualState</td>
                                    <td>
                                        @if (!String.IsNullOrEmpty(judicialLitigation.litigation.nextStepDate.ToString())){
                                            @judicialLitigation.litigation.nextStepDate.Value.ToString(IConstants.dateFormat)
                                        }
                                        else{
                                            @String.Empty;
                                        }
                                    </td>
                                    <td>@judicialLitigation.litigation.nextStepDetail</td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    </div>
                    <div class="paging-nav padding-rightbottom-table-pager" id="pagination">
                    </div>
                </div>
                <div id="adminLitigation" class="tab-pane fade list-group">
                    <div class="left-inner-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        @Html.TextBox("reportAdminLitigationFilter", null, new { type = "search", placeholder = "Filtrar", @class = "form-control" })
                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover table-report-width" id="table-responsive">
                            <thead>
                                <tr>
                                    <th>N° de Expediente</th>
                                    <th># Translado de Cargo</th>
                                    <th>Moneda</th>
                                    <th>Estimación</th>
                                    <th>Administración Tributaria</th>
                                    <th>Tipo</th>
                                    <th>Objeto del Proceso</th>
                                    <th>Estado Actual</th>
                                    <th>Siguiente Etapa: Fecha</th>
                                    <th>Siguiente Etapa: Detalle</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (admin_litigation adminLitigation in listAdminLitigations.OrderByDescending(l => l.litigation.initDate))
                                {
                                    <tr class="adminLitigation-item" onclick="gotoAdminObservationReport(@adminLitigation.id, @client.id);">
                                        >
                                        <td>@adminLitigation.litigation.recordNumber</td>
                                        <td>@adminLitigation.transferCharges</td>
                                        <td>
                                            @if (!adminLitigation.litigation.unrated.Value){
                                                @adminLitigation.litigation.coin
                                            }
                                            else{
                                                @Html.Label("N/A")
                                            }
                                        </td>
                                        <td>
                                            @if (adminLitigation.litigation.unrated.Value){
                                                string estimateOrUnrated = "Inestimado";
                                                @estimateOrUnrated
                                            }
                                            else{
                                                @Html.DisplayFor(model => adminLitigation.litigation.estimate)
                                            }
                                        </td>
                                        <td>@adminLitigation.TaxAdmin</td>
                                        <td>@adminLitigation.Type</td>
                                        <td class="object-process-width">@adminLitigation.litigation.objectProcess</td>
                                        <td>@adminLitigation.litigation.actualState</td>
                                        <td>
                                            @if (!String.IsNullOrEmpty(adminLitigation.litigation.nextStepDate.ToString()))
                                            {
                                                @adminLitigation.litigation.nextStepDate.Value.ToString(IConstants.dateFormat)
                                            }
                                            else
                                            {
                                                @String.Empty
                                            }
                                        </td>
                                        <td>@adminLitigation.litigation.nextStepDetail</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="paging-nav padding-rightbottom-table-pager" id="pagination">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
