﻿@using ICS.Litigios.Entities
@using LitigationICS.BLL
@{
    ViewBag.Title = "clientsReport";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    
    List<JuditialLitigations> listJuditialLitigation = (List<JuditialLitigations>)ViewData["juditialLitigation"];
    List<AdminLitigations> listAdminLitigation = (List<AdminLitigations>)ViewData["adminLitigation"];
    string clientName = ViewData["clientName"].ToString();
    int clientId = int.Parse(ViewData["clientId"].ToString());
}

<div class="container">
    <h3><b>Reporte del cliente <a class="generalLabel" onclick="goToShowClientInformation(@clientId)">@clientName</a></b></h3>
    <hr />
    <div class="row-fluid">
        <div>
            <div class="container">
                <ul class="nav nav-tabs">
                    <li class="active" ><a class="generalLabel" data-toggle="tab" href="#juditial">Procesos Judiciales</a></li>
                    <li><a class="generalLabel" data-toggle="tab" href="#administrative">Procedimientos Administrativos</a></li>
                </ul>

                <div class="tab-content">
                    <div id="juditial" class="tab-pane fade in active">
                        <div class="table-responsive">
                            <div class="input-group">
                                <span class="input-group-addon">Filtro</span>
                                @Html.TextBox("filterJuditialLitigationsTable", null, new { @class = "form-control", @placeholder = "Filtrar aqui..." })
                            </div>
                            <table class="table table-hover" id="table-responsive">
                                <thead>
                                    <tr>
                                        <th>Número de Expediente</th>
                                        <th>Estimación</th>
                                        <th>Parte: Actor</th>
                                        <th>Parte: Demandado</th>
                                        <th>Parte: Coadyuvante</th>
                                        <th>Objeto del Proceso</th>
                                        <th>Estado Actual</th>
                                        <th>Siguiente Etapa: Detalle</th>
                                        <th>Siguiente Etapa: Fecha</th>
                                        <th>Medida Cautelar: Estado Actual</th>
                                        <th>Medida Cautelar: Detalle</th>
                                        <th>Medida Cautelar: Fecha</th>
                                    </tr>
                                </thead>
                                <tbody class="searchable">
                                    @foreach (JuditialLitigations litigation in listJuditialLitigation.OrderBy(date => date.initDate))
                                    {
                                        <tr>
                                            <td>
                                                @litigation.recordNumber
                                            </td>
                                            <td>
                                                @litigation.estimate
                                            </td>
                                            <td>
                                                @litigation.actor
                                            </td>
                                            <td>
                                                @litigation.defendant
                                            </td>
                                            <td>
                                                @litigation.adjuvant
                                            </td>
                                            <td>
                                                @litigation.objectProcess
                                            </td>
                                            <td>
                                                @litigation.actualState
                                            </td>
                                            <td>
                                                @litigation.nextStepDetail
                                            </td>
                                            <td>
                                                @litigation.nextStepDate.ToString(IConstants.dateFormat)
                                            </td>
                                            <td>
                                                @litigation.cautionNextStepState
                                            </td>
                                            <td>
                                                @litigation.cautionNextStepDetail
                                            </td>
                                            <td>
                                                @litigation.cautionNextStepDate.ToString(IConstants.dateFormat)
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div id="administrative" class="tab-pane fade">
                        <div class="table-responsive">
                            <div class="input-group">
                                <span class="input-group-addon">Filtro</span>
                                @Html.TextBox("filterAdminLitigationsTable", null, new { @class = "form-control", @placeholder = "Filtrar aqui..." })
                            </div>
                                <table class="table table-hover" id="table-responsive">
                                    <thead>
                                        <tr>
                                            <th>Número de Expediente</th>
                                            <th>Número de Translado de Carga</th>
                                            <th>Estimación</th>
                                            <th>Tipo</th>
                                            <th>Administración Tributaria</th>
                                            <th>Objeto del Proceso</th>
                                            <th>Estado Actual</th>
                                            <th>Siguiente Etapa: Detalle</th>
                                            <th>Siguiente Etapa: Fecha</th>
                                            <th>Medida Cautelar: Estado Actual</th>
                                            <th>Medida Cautelar: Detalle</th>
                                            <th>Medida Cautelar: Fecha</th>
                                        </tr>
                                    </thead>
                                    <tbody class="searchable">
                                        @foreach (AdminLitigations litigation in listAdminLitigation.OrderBy(date => date.initDate))
                                        {
                                            <tr>
                                                <td>
                                                    @litigation.recordNumber
                                                </td>
                                                <td>
                                                    @litigation.transferCharge
                                                </td>
                                                <td>
                                                    @litigation.estimate
                                                </td>
                                                <td>
                                                    @litigation.types
                                                </td>
                                                <td>
                                                    @litigation.taxAdmin
                                                </td>
                                                <td>
                                                    @litigation.objectProcess
                                                </td>
                                                <td>
                                                    @litigation.actualState
                                                </td>
                                                <td>
                                                    @litigation.nextStepDetail
                                                </td>
                                                <td>
                                                    @litigation.nextStepDate.ToString(IConstants.dateFormat)
                                                </td>
                                                <td>
                                                    @litigation.cautionNextStepState
                                                </td>
                                                <td>
                                                    @litigation.cautionNextStepDetail
                                                </td>
                                                <td>
                                                    @litigation.cautionNextStepDate.ToString(IConstants.dateFormat)
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>