﻿@using LitigationICS.DAL
@using System.Text
@model client

@{
    ViewBag.Title = "Crear Cliente";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
}

<div class="container">
    <h3><b>Agregar Cliente</b></h3>
    <hr />    
    <div class="row-fluid">
        <div class="col-md-12">
            @if (ViewData["failedRegisterClient"] != null){
                @Html.Label(ViewData["failedRegisterClient"].ToString(), new { @class = "text-danger" })<br />
                
                foreach(var item in (List<StringBuilder>)ViewData["observationsByFailed"]){
                    @Html.Label(item.ToString(), new { @class = "text-danger" })<br>
                }
            }
            @using (Html.BeginForm("registerNewClient", "Client", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default height-first-panel-client">
                            <div class="panel-body">
                                <div class="form-group text-center">
                                    <h4>Información del Cliente</h4>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Nombre:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.person.Name, null, new { @Name = "clientName", @maxlength = "50", @Required = "required" })
                                        <span class="field-validation-valid" data-valmsg-for="" data-valmsg-replace="true"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Cédula(Cliente):
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.person.DNI, null, new { @Name = "clientDNI", @Required = "required", @maxlength = "20" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Representante Legal:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.legalrepresentative.person.Name, null, new { @Name = "legalRepresentativeName", @Required = "required", @maxlength = "90" })
                                        @Html.ValidationMessageFor(model => model.legalrepresentative.person.Name)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Cédula(Representante Legal):
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.legalrepresentative.person.DNI, null, new { @Name = "legalRepresentativeNameDNI", @Required = "required", @maxlength = "20" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Dirección:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextAreaFor(model => model.person.Address, 8, 5, new { @Name = "clientAddress", @id = "litigationTextArea", @maxlength = "120" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body form-style-8">
                                <div class="form-group text-center">
                                    <h4>Información del Contacto</h4>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Nombre:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).Select(cc => cc).FirstOrDefault().contact.person.Name, null, new { @Name = "contactName", @maxlength = "50" })
                                        @Html.ValidationMessageFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).Select(cc => cc).FirstOrDefault().contact.person.Name)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Apellidos:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).Select(cc => cc).FirstOrDefault().contact.person.LastName, null, new { @Name = "contactLastName", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Posición:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).Select(cc => cc).FirstOrDefault().contact.Position, null, new { @Name = "contactPosition", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Teléfono:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).Select(cc => cc).FirstOrDefault().contact.person.user_phone.FirstOrDefault().Phone, null, new { @Name = "contactPhone" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Correo:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).Select(cc => cc).FirstOrDefault().contact.person.user_email.FirstOrDefault().Email, null, new { @Name = "contactEmail" })
                                        @Html.ValidationMessageFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).Select(cc => cc).FirstOrDefault().contact.person.user_email.FirstOrDefault().Email)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2 no-padding-left no-padding-right">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <button class="btn-cancelar" id="btn-cancelar" type="button" onclick="getCancelarObservationOption();">Cancelar</button>
                                <button class="btn-accept" id="btn-guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
