﻿@using LitigationICS.DAL

@{
    Layout = "Clientes";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    List<client> listClients = (List<client>)ViewData["listClients"];
}
<div class="container-fluid no-padding">
    <div class="col-md-12 no-padding">
        <div class="col-md-3 no-padding-left no-padding-right">
            <div class="list-container">
                <div class="clients">
                    <div class="container-fluid inline no-padding">
                        <div class="row-fluid">
                            <div class="left-inner-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                @Html.TextBox("clientFilter", null, new { type = "search", placeholder = "Filtrar", @Name = "nameFilter", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-md-5 col-xs-5 col-sm-5 col-lg-5 no-padding padding-topbottom-client-clientheader">
                                <header>
                                    <span class="glyphicon glyphicon-king margin-left-client-clientheader-icon"></span>
                                    <strong class="margin-left-icon-header">Clientes</strong>
                                </header>
                            </div>
                            <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7 text-right">
                                <button onclick="createNewClient()" class="btn-link" type="button">
                                    <img src="~/images/btn-add-litigios.gif" alt="plus" width="55" height="50" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        @foreach (client client in listClients)
                        {
                            <li class="list-group-item general-label client-item" id="@client.id" style="cursor:pointer" onclick="goToShowClientInformation(@client.id)">
                                <strong>@Html.ActionLink(client.person.Name, "showClientInformation", "Client", new { clientId = client.id }, new { @class = "general-label", @href = "javascript: goToShowClientInformation(" + client.id + ")" })</strong>
                                @Html.Label("searchableText", client.searchableText, new { @hidden = "hidden" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
