﻿@using LitigationICS.DAL;
@model client

@{
    ViewBag.Title = "Editar " + ViewData["clientName"];
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    string clientName = ViewData["clientName"].ToString();
}

<div class="container">
    <h3><b>Editar Cliente @clientName</b></h3>
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            @using (Html.BeginForm("updateClient", "Client", FormMethod.Post))
            {

                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("clientId", Model.id)
                @Html.Hidden("clientPersonId", Model.idPerson)
                @Html.Hidden("legalRepresentativeId", Model.legalrepresentative.id)
                @Html.Hidden("legalRepresentativePersonId", Model.legalrepresentative.person.id)
               
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default height-first-panel-client">
                            <div class="panel-body">
                                <div class="form-group text-center">
                                    <h4>Información del Cliente</h4>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Nombre:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.person.Name, null, new { @Name = "clientName", @Required = "required", @maxlength = "50" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Cédula(Cliente):
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.person.DNI, null, new { @Name = "clientDNI", @Required = "required", @maxlength = "20" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Representante Legal:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.legalrepresentative.person.Name, null, new { @Name = "clientLegalRepresentative", @Required = "required", @maxlength = "90" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Cédula(Representante Legal):
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.legalrepresentative.person.DNI, null, new { @Name = "clientLegalRepresentativeDNI", @Required = "required", @maxlength = "90" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Dirección:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextAreaFor(model => model.person.Address, 8, 5, new { @class = "height-textarea", @Name = "clientAddress", @maxlength = "120" })
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group text-center">
                                    <h4>Información del Contacto</h4>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">
                                        Nombre:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).FirstOrDefault().contact.person.Name, null, new { @Name = "contactName", @maxlength = "40" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Apellidos:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).FirstOrDefault().contact.person.LastName, null, new { @Name = "contactLastName", @maxlength = "40" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Cédula:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).FirstOrDefault().contact.person.DNI, null, new { @Name = "contactDNI", @maxlength = "16" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Posición:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).FirstOrDefault().contact.Position, null, new { @Name = "contactPosition", @maxlength = "40" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Teléfono:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).FirstOrDefault().contact.person.user_phone.FirstOrDefault().Phone, null, new { @Name = "contactPhone" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">
                                        Correo:
                                    </label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.client_contact.Where(cc => cc.client.id == Model.id).FirstOrDefault().contact.person.user_email.FirstOrDefault().Email, null, new { @Name = "contactEmail" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2 no-padding-left no-padding-right">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <button class="btn-cancelar" id="btn-cancelar" type="button" onclick="getCancelarObservationOption();">Cancelar</button>
                                <button class="btn-accept" id="btn-guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


