﻿@using LitigationICS.DAL
@using LitigationICS.BLL

@{
    ViewBag.Title = "Clientes";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    string shortDate = String.Empty;
    List<client> listClients = (List<client>)ViewData["listClients"];
    List<litigation> listLitigations = (List<litigation>)ViewData["listLitigations"];
    client clientSelected = null;
    if (ViewData["clientSelected"] != null) { clientSelected = (client)ViewData["clientSelected"]; }
}

<div class="container-fluid no-padding">
    <div class="col-md-12 no-padding">
        <div class="col-md-3 no-padding-left no-padding-right">
            <div class="list-container">
                <div class="clients">
                    <div class="container-fluid inline no-padding">
                        <div class="row-fluid">
                            <div class="left-inner-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                @Html.TextBox("clientFilter", null, new { type = "search", placeholder = "Filtrar", @Name = "nameFilter", @class = "form-control" })
                            </div>
                        </div>
                        <div class="row-fluid">
                            <div class="col-md-5 col-xs-5 col-sm-5 col-lg-5 no-padding padding-topbottom-client-clientheader">
                                <header>
                                    <span class="glyphicon glyphicon-king margin-left-client-clientheader-icon"></span>
                                    <strong class="margin-left-icon-header">Clientes</strong>
                                </header>
                            </div>
                            <div class="col-md-7 col-xs-7 col-sm-7 col-lg-7 text-right">
                                <button onclick="createNewClient()" class="btn-link" type="button">
                                    <img src="~/images/btn-add-litigios.gif" alt="plus" width="55" height="50" />
                                </button>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group">
                        @foreach (client client in listClients)
                        {
                            <li class="list-group-item general-label client-item" id="@client.id" style="cursor:pointer" onclick="goToShowClientInformation(@client.id)">
                                <strong>@Html.ActionLink(client.person.Name, "showClientInformation", "Client", new { clientId = client.id }, new { @class = "general-label", @href = "javascript: goToShowClientInformation(" + client.id + ")" })</strong>
                                @Html.Label("searchableText", client.searchableText, new { @hidden = "hidden" })
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row-fluid">
                <div class="col-md-9 col-sm-9 col-xs-9 col-lg-9">
                    <h3>
                        <strong>@clientSelected.person.Name.ToUpper()</strong>
                    </h3>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-3 col-lg-3 text-center">
                    @using (Html.BeginForm("EditClient", "Client", FormMethod.Post))
                    {
                        @Html.Hidden("clientId", clientSelected.id)
                        <button type="submit" class="btn-link no-padding-left-showclient-button">
                            <img src="~/images/btn-edit.gif" height="50" width="50" />
                        </button>
                    }
                </div>
            </div>
            <div class="row-fluid">
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <h4>Información del Cliente</h4>
                    <div class="form-group">
                        <label>Nombre:</label>
                        <br />
                        <span class="">
                            @clientSelected.person.Name
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Cédula(Cliente):</label>
                        <br />
                        <span class="">
                            @clientSelected.person.DNI
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Representante Legal:</label>
                        <br />
                        <span class="">
                            @clientSelected.legalrepresentative.person.Name
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Cédula(Representante Legal):</label>
                        <br />
                        <span class="">
                            @clientSelected.legalrepresentative.person.DNI
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Dirección:</label>
                        <br />
                        <span class="">
                            @clientSelected.person.Address
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 col-lg-6">
                    <h4>Información del Contacto</h4>
                    <div class="form-group">
                        <label>Nombre:</label>
                        <br />
                        <span class="">
                            @clientSelected.client_contact.Where(cc => cc.client.id == clientSelected.id).FirstOrDefault().contact.person.Name
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Puesto:</label>
                        <br />
                        <span class="">
                            @clientSelected.client_contact.Where(cc => cc.client.id == clientSelected.id).FirstOrDefault().contact.Position
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Teléfono:</label>
                        <br />
                        <span class="">
                            @clientSelected.client_contact.Where(cc => cc.client.id == clientSelected.id).FirstOrDefault().contact.person.user_phone.Where(up => up.idUser == clientSelected.client_contact.Where(cc => cc.client.id == clientSelected.id).FirstOrDefault().contact.person.id).FirstOrDefault().Phone
                        </span>
                    </div>
                    <div class="form-group">
                        <label>Correo:</label>
                        <br />
                        <span class="">
                            @clientSelected.client_contact.Where(cc => cc.client.id == clientSelected.id).FirstOrDefault().contact.person.user_email.Where(ue => ue.idUser == clientSelected.client_contact.Where(cc => cc.client.id == clientSelected.id).FirstOrDefault().contact.person.id).FirstOrDefault().Email
                        </span>
                    </div>

                    <div class="form-group">
                        @using (Html.BeginForm("clientReport", "Client", FormMethod.Post))
                        {                        
                            @Html.Hidden("clientId", clientSelected.id)
                            <button class="btn button">
                                <strong>Generar Reporte</strong>
                            </button>
                        }
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                @if (listLitigations.Count != 0)
                {
                    <div class="table-responsive">
                        <table class="table-pager table table-hover" id="table-responsive">
                            <thead>
                                <tr>
                                    <th>Identificador</th>
                                    <th>Objeto</th>
                                    <th>Estado</th>
                                    <th>Siguiente Etapa</th>
                                    <th>Fecha</th>
                                    <th class="">
                                        <button class="btn-link btn-show-modal" type="submit">
                                            <img src="~/images/btn-add.gif" width="50" height="50" />
                                        </button>
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (litigation litigation in listLitigations.OrderByDescending(l => l.initDate))
                                {
                                    <tr onclick="showLitigation(@litigation.type, @litigation.id, @clientSelected.id);">
                                        <td>@litigation.recordNumber</td>
                                        <td>@litigation.objectProcess</td>
                                        <td>@litigation.actualState</td>
                                        <td>@litigation.nextStepDetail</td>
                                        <td>@litigation.initDate.ToString(IConstants.dateFormat)</td>
                                        <td></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="paging-nav padding-rightbottom-table-pager" id="pagination">
                    </div>
                }
                else
                {
                    <div class="row-fluid">
                        <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9 padding-top-bottom-litigation-observationheader">
                            <strong class="text-danger no-padding">
                                No existen procesos disponibles
                            </strong>
                        </div>
                        <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 text-center">
                            <button class="btn-link btn-show-modal no-padding" type="submit">
                                <img src="~/images/btn-add.gif" width="50" height="50" />
                            </button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="getClientsId" id="@clientSelected.id"></div>

<div class="modal fade no-padding-left" id="dialog-litigation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3><b>Agregar Proceso</b></h3>
            </div>
            @using (Html.BeginForm("CreateNewLitigation", "Litigation", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row-fluid">                        
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @Html.Hidden("clientId", clientSelected.id)
                                <div class="col-md-9">
                                    @Html.Label("Procesos Judiciales")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "1", isChecked: true)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    @Html.Label("Procediemientos Administrativos")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "2", isChecked: false)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row-fluid text-center">
                        <button id="btn-hide-modal" class="btn-cancelar">Cancelar</button>
                        <button class="btn-accept" type="submit">Crear</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
