.no-padding{
    padding: 0px;
}
.padding-title{
    padding-left: 3%;
}
.nav .item-effect a{
    color: #fff !important;
}
.dropdown-menu .item-effect a{
    color: #000000 !important;
}
.padding-navbar-menu{
    padding-right: 6%;
}
.no-padding-right{
    padding-right: 0px !important;
}
.no-padding-left{
    padding-left: 0px !important;
}
.no-padding-bottom{
    padding-bottom: 0 !important;
}
.no-margin-bottom{
    margin-bottom 0 !important;
}
.margin-bottom-inputs-login{
    margin-bottom: 2%;
}
.margin-left-icon-header{
    margin-left: 1%;
}
.margin-left-headerclients-clients{
    margin-left: 18%;
}
.margin-top-subjectheader-observations{
    margin-top: 6%;
}
.margin-top-navbar-main{
    margin-top: 2.5%;
}
.background-color-column-headers{
    background: lightgray;
}
.padding-rightbottom-table-pager{
    padding-right: 50%;
    padding-bottom: 5%;
}
.padding-right-client-buttonadd{
    padding-right: 4%;
}
.padding-btn-delete{
    padding-right: 26%;
    padding-top: 4%;
}
.padding-left-tittle{
    padding-left: 1%;
}
.padding-left-options{
    padding-left: 0.2%;
}
.no-margin-bottom{
    margin-bottom: 0px;
}
#login-container{
    background: #403d3d;
}
#row-margin-up-login{
    height: 160px;
}
#logo{
    height: 25px;
}
.general-label{
    text-decoration:none;
    color: #000000;
    cursor:pointer;
}
.general-label:hover {
    text-decoration: none;
    cursor: pointer;
    color: none;
}
.credentials-validation-error{
    color: #fff;
}
.btn-cancelar:hover, .btn-accept:hover,
.btn-cancelar:focus, .btn-accept:focus{
    color: #fff !important;
}
.button{
    background: #ff9d00;
    color: #fff;
    border-radius: 7px;
}
.button:hover{
    background: #ff9d00;
    color: #fff;
}
.input-observation{
    width: 99%;
}
li.active > strong > a{
    color: #fff;
}
.paging-nav {
  text-align: right;
  padding-top: 2px;
}
.paging-nav a {
  margin: auto 1px;
  text-decoration: none;
  display: inline-block;
  padding: 1px 7px;
  background: #91b9e6;
  color: white;
  border-radius: 3px;
}
.paging-nav .selected-page {
  background: #187ed5;
  font-weight: bold;
}
.cursor{
    cursor: pointer;
}
.table-report-width{
    width: 145em;
    max-width: none;
}
.object-process-width{
    width: 40em;
}
.table-report-width > thead > tr > th, 
.table-report-width > tbody > tr > th, 
.table-report-width > tfoot > tr > th, 
.table-report-width > thead > tr > td, 
.table-report-width > tbody > tr > td, 
.table-report-width > tfoot > tr > td{
    padding: 0 !important;
}
.font-headers{
    font: bold;
}

.height-textarea-secondpanel-judicial-litigation{
    height: 109px !important;
}

.height-bottom-secondpanel-default-judicial-litigation{
    height: 501px;
}

.height-fourthpanel-default-judicial-litigation{
    height: 310px;
}

.height-fifthpanel-default-judicial-litigation{
    height: 238px;
}

.height-bottom-thirdpanel-default-admin-litigation{
    height: 238px;
}

.height-login{
    height: 130px;
}
.margin-top-litigationheader{
    margin-top: 5%;
}

.margin-left-clientheader-icon{
    margin-left: 5%;
}

.margin-left-client-clientheader-icon{
    margin-left: 10%;
}

.margin-left-litigation-litigationheader-icon{
    margin-left: 8%;
}

.padding-top-bottom-litigation-observationheader{
    padding-top: 2%;
    padding-bottom: 5%;
}

.padding-topbottom-litigation-clientheader{
    padding-top: 7%;
    padding-bottom: 7%;
}

.padding-topbottom-client-clientheader{
    padding-top: 5%;
    padding-bottom: 5%;
}

.background-header-items{
    background: #808080;
    color: #ffffff;
}
.litigation-labels{
    font: larger;
    font-style:italic;
}
#backgroud-column{
    background: #cbcbcb;
}
.list-container{
    height: auto;
    overflow-y: scroll;
}
.btn-cancelar{
    margin-top: 10px;
    width: 104px;
    height: 35px;   
    background: #cbcbcb;
    border: none;
    color: #ffffff;   
    font-size:14px;
    font-weight:700;
}
.btn-accept{
    margin-top: 10px;
    width: 104px;
    height: 35px;   
    background: #ff9d00;
    border: none;
    color: #ffffff;   
    font-size:14px;
    font-weight:700;
}
.navbar {
    background: #403d3d;
    margin-bottom: 0;
    border-color: #403d3d;
    border-radius: 0;
}
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;
}
.left-inner-addon i {
    position: absolute;
    padding: 9px 15px 10px 10px;
    pointer-events: none;
}
.litigation-labels{
    font: larger;
    font-style:italic;
}
#table-responsive tbody tr{
    cursor: pointer;
}
.list-group .litigation-item .general-label:active{
    color: #fff !important;
}