﻿@using LitigationICS.DAL
@using LitigationICS.BLL

@{
    ViewBag.Title = "Reporte Observaciones";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    client client = (client)ViewData["client"];
    admin_litigation adminLitigations = (admin_litigation)ViewData["adminLitigation"];
    List<observation> listObservaions = (List<observation>)ViewData["observations"];
}

<div class="container">
    <h3><b>Reporte de Observaciones</b></h3>
    @if (client != null)
    {
        <h4>>@Html.ActionLink(adminLitigations.litigation.recordNumber, "", "", new { @class = "general-label", @href = "javascript: goToLitigationSelected(" + adminLitigations.litigation.id + "," + client.id + ")" })</h4>
        <h5>>@Html.ActionLink(client.person.Name, "showClientInformation", "Client", new { @class = "general-label", @href = "javascript: goToShowClientInformation(" + client.id + ")" })</h5>
    }
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            <div id="observation" class="tab-pane fade in active list-group">
                <div class="left-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    @Html.TextBox("reportObservationFilter", null, new { type = "search", placeholder = "Filtrar", @class = "form-control" })
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" id="table-responsive">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Asunto</th>
                                <th>Descripción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (observation observation in listObservaions.OrderByDescending(o => o.Date))
                            {
                                <tr class="observation-item">
                                    <td>
                                        @observation.Date.Value.ToString(IConstants.dateFormat)
                                    </td>
                                    <td>
                                        @observation.Subject
                                    </td>
                                    <td>
                                        @observation.Body
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="paging-nav padding-rightbottom-table-pager" id="pagination">
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
