﻿@model LitigationICS.DAL.observation

@{
    ViewBag.Title = "Crear Observación";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    int? judiciaLitigationId = 0;
    int? adminLitigationId = 0;
    int? litigationId = int.Parse(ViewData["litigationId"].ToString());
    string recordNumber = ViewData["recordNumber"].ToString();
    int? clientId = int.Parse(ViewData["clientId"].ToString());
    string clientName = ViewData["clientName"].ToString();
    if (ViewData["judicialLitigationId"] != null) { judiciaLitigationId = int.Parse(ViewData["judicialLitigationId"].ToString()); }
    if (ViewData["adminLitigationId"] != null) { adminLitigationId = int.Parse(ViewData["adminLitigationId"].ToString()); }
}
<div class="row-fluid">
    <div class="panel panel-default">
        <div class="panel-body">
            <h4>
                <strong>
                    @Html.ActionLink(clientName, "", "", new { @class = "general-label", @href = "javascript: goToShowClientInformation(" + clientId + ")" }) >
                    @Html.ActionLink(recordNumber, "", "", new { @class = "general-label", @href = "javascript: goToLitigationSelected(" + litigationId + "," + clientId + ")" })
                </strong>
            </h4>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="col-md-8 col-md-offset-2">
            @using (Html.BeginForm("registerNewObservation", "Observation", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.Hidden("litigationId", litigationId)
                @Html.Hidden("judicialLitigationId",judiciaLitigationId)
                @Html.Hidden("adminLitigationId", adminLitigationId)
                @Html.Hidden("clientId", clientId)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-12 no-padding">
                                Asunto:
                            </label>
                            <div class="form-style-8">
                                @Html.TextBoxFor(model => model.Subject, null, new { @class = "input-observation", @maxlength = "60" })
                                @Html.ValidationMessageFor(model => model.Subject)
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label col-md-12 no-padding">
                                Fecha:
                            </label>
                            <div class="form-style-8">
                                @Html.TextBoxFor(model => model.Date, null, new { @class = "input-observation datepicker-register-form" })
                                @Html.ValidationMessageFor(model => model.Date)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group">
                        <div class="form-style-8">
                            @Html.TextAreaFor(model => model.Body, 15, 50, new { @class = "height-textarea" })
                            @Html.ValidationMessageFor(model => model.Body)
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="panel panel-default text-center">
                        <div class="panel-body">
                            <button class="btn-cancelar" id="btn-cancelar" type="button" onclick="getCancelarObservationOption();">Cancelar</button>
                            <button class="btn-accept" id="btn-guardar" type="submit">Guardar</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}