﻿@model LitigationICS.DAL.observation
@{
    ViewBag.Title = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")
    @Styles.Render("~/Content/datepicker")
    @Scripts.Render("~/bundles/datePicker")
</head>
<body>
    <div class="container">
        <form>
            <div>
                <div class="">
                    <label class="control-label col-md-2"></label>
                    @Html.TextAreaFor(model => model.Body, 4, 120, htmlAttributes: new { @class = "" })
                </div>
            </div>
        </form>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
