﻿@using LitigationICS.DAL
@using LitigationICS.BLL

@{
    ViewBag.Title = "Observaciones";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    int? judicialLitigationId = null;
    int? adminLitigationId = null;
    int observationId = int.Parse(ViewData["id"].ToString());        
    string _Subject = ViewData["Subject"].ToString();
    DateTime _Date = (DateTime)ViewData["Date"];
    string _Body = ViewData["Body"].ToString();
    string clientName = ViewData["clientName"].ToString();
    int clientId = int.Parse(ViewData["clientId"].ToString());
    string recordNumber = ViewData["recordNumber"].ToString();
    int? litigationId = int.Parse(ViewData["litigationId"].ToString());
    string shortDate = String.Empty;
    if (ViewData["judicialLitigationId"] != null) { 
        judicialLitigationId = int.Parse(ViewData["judicialLitigationId"].ToString()); 
    }
    if (ViewData["adminLitigationId"] != null) { 
        adminLitigationId = int.Parse(ViewData["adminLitigationId"].ToString()); 
    }
    List<observation> listObservations = (List<observation>)ViewData["listObservations"];
}

<div class="container-fluid no-padding">
    <div class="col-md-4 no-padding">
        <div class="list-container">
            <div class="clients">
                <div class="panel panel-default no-margin-bottom">
                    <div class="panel-body">
                        <h4>
                            <strong>
                                @Html.ActionLink(clientName, "", "", new { @class = "general-label", @href = "javascript: goToShowClientInformation(" + clientId + ")" }) >
                                @Html.ActionLink(recordNumber, "", "", new { @class = "general-label", @href = "javascript: goToLitigationSelected(" + litigationId + "," + clientId + ")" })
                            </strong>
                        </h4>
                    </div>
                </div>
                <ul class="list-group">
                    @foreach (observation observation in listObservations.OrderByDescending(k => k.Date.Value))
                    {
                        if (judicialLitigationId != null)
                        {
                            <li class="list-group-item" id="@observation.id" style="cursor:pointer" onclick="showObservation(@observation.id, @judicialLitigationId,0, @clientId, @litigationId)">
                                <a href="javascript: showObservation(@observation.id, @judicialLitigationId,0, @clientId, @litigationId)" class="general-label">
                                    @{shortDate = observation.Date.Value.ToString(IConstants.dateFormat);}
                                    <label class="general-label">@shortDate</label><br />
                                    <span class="general-label">@observation.Subject</span>
                                </a>
                            </li>
                        }
                        else
                        {
                            <li class="list-group-item" id="@observation.id" style="cursor:pointer" onclick="showObservation(@observation.id, 0, @adminLitigationId, @clientId, @litigationId)">
                                <a href="javascript: showObservation(@observation.id, 0, @adminLitigationId, @clientId, @litigationId)" class="general-label">
                                    @{shortDate = observation.Date.Value.ToString(IConstants.dateFormat);}
                                    <label class="general-label">@shortDate</label><br />
                                    <span class="general-label">@observation.Subject</span>
                                </a>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6 col-md-offset-1">
        <div id="observations-detail">
            <div class="row">
                <div class="col-md-10 col-sm-9 col-xs-9 col-lg-9 no-padding margin-top-subjectheader-observations">
                    <label>@_Subject</label>
                    <br />
                    <span>
                        @{ shortDate = _Date.ToString(IConstants.dateFormat);}
                        @shortDate
                    </span>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-3 col-lg-3">
                    <br />
                    @if (observationId != 0)
                    {
                        using (Html.BeginForm("Edit", "Observation", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()
                            @Html.Hidden("observationId", observationId)
                            @Html.Hidden("judicialLitigationId", judicialLitigationId)
                            @Html.Hidden("adminLitigationId", adminLitigationId)
                            @Html.Hidden("litigationId", litigationId)
                            @Html.Hidden("clientId", clientId)
                            <button class="btn-link" type="submit">
                                <img src="~/images/btn-edit.gif" width="50" height="50" />
                            </button>
                        }
                    }
                </div>
            </div>

            <div class="row">
                <blockquote>
                    <p>@_Body</p>
                </blockquote>
            </div>
        </div>
    </div>
</div>
<div class="getObservationId" id="@observationId"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}