﻿@using LitigationICS.DAL;
@using ICS.Litigios.Entities;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        AuthUser authUser = (AuthUser)HttpContext.Current.Session["user"];
    }
</head>
<body onload="clientActiveSelector(); litigationActiveSelector(); observationActiveSelector();">
    <nav class="navbar navbar-default">
        <div class="row-fluid">
            <div class="navbar-header padding-title">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="navbar-brand">
                    <img id="logo" alt="website-logo" src="~/images/logo-ics.gif" />
                </div>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right padding-navbar-menu">
                    <li class="item-effect">
                        <a id="general-report">
                            Reporte General
                        </a>
                    </li>
                    <li class="item-effect">
                        <a href="javascript: goToLitigationsPage(@authUser.clients.FirstOrDefault())">
                            Procesos
                        </a>
                    </li>
                    <li class="item-effect">
                        <a href="javascript: goToClientsDetail(@authUser.clients.FirstOrDefault())">
                            Clientes
                        </a>
                    </li>
                    <li class="item-effect">
                        <a href="javascript: goToShowContacts(@authUser.clients.FirstOrDefault())">
                            Contactos
                        </a>
                    </li>
                    <li class="dropdown item-effect">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"></span> @authUser.userName <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li class="item-effect">
                                <a class="link-get-out item-effect" href="/">Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="margin-top-navbar-main">

    </div>

    @RenderBody()

    <div class="container">
        <footer class=""></footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>



