﻿@using LitigationICS.DAL

@{
    ViewBag.Title = "Procesos";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    List<client> listClients = (List<client>)ViewData["listClients"];
    List<juditial_litigation> listJudicialLitigations = (List<juditial_litigation>)ViewData["listJudicialLitigations"];
    List<admin_litigation> listAdminLitigations = (List<admin_litigation>)ViewData["listAdminLitigations"];
    int clientId = int.Parse(ViewData["clientId"].ToString());
}

<div class="container-fluid no-padding">
    <div class="col-md-12 no-padding">
        <div class="col-md-2 no-padding-left no-padding-right">
            <div class="list-container">
                <div class="clients">
                    <div class="left-inner-addon">
                        <i class="glyphicon glyphicon-search"></i>
                        @Html.TextBox("clientFilter", null, new { type = "search", placeholder = "Filtrar", @Name = "nameFilter", @class = "form-control" })
                    </div>
                    <div class="padding-topbottom-litigation-clientheader">
                        <header>
                            <span class="glyphicon glyphicon-king margin-left-clientheader-icon"></span>
                            <strong class="margin-left-icon-header">Clientes</strong>
                        </header>
                    </div>
                    <ul class="list-group">
                        @foreach (client client in listClients)
                        {
                            <li class="list-group-item general-label client-item" id="@client.id" onclick="goToLitigationsPageByClientId( @client.id )">
                                <strong>@Html.ActionLink(client.groupByName, "Index", "Litigation", new { @class = "general-label", @href = "javascript: goToLitigationsPageByClientId(" + client.id + ")" })</strong>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-3 no-padding-left no-padding-right">
            <div class="list-container">
                <div class="litigations">
                    <div class="container-fluid inline no-padding">
                        <div class="row-fluid">
                            <div class="left-inner-addon">
                                <i class="glyphicon glyphicon-search"></i>
                                @Html.TextBox("litigationFilter", null, new { @class = "form-control filter-icon", type = "search", placeholder = "Filtrar", @Name = "nameFilter"})
                            </div>   
                        </div>
                        <div class="row-fluid">
                            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 no-padding margin-top-litigationheader text-left">
                                <header>
                                    <span class="glyphicon glyphicon-cog margin-left-litigation-litigationheader-icon"></span>
                                    <strong class="margin-left-icon-header">Procesos</strong>
                                </header>
                            </div>
                            <div class="col-md-6 col-xs-6 col-sm-6 col-lg-6 text-right">
                                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3 padding-btn-delete">
                                    <button class="btn-link btn-show-delete-modal">
                                        <img src="~/images/btn-delete.png" alt="plus" width="42" height="42" />
                                    </button>
                                </div>
                                <div class="col-md-3 col-xs-3 col-sm-3 col-lg-3">
                                    <button class="btn-link btn-show-modal">
                                        <img src="~/images/btn-add-litigios.gif" alt="plus" width="55" height="50" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group nav">
                        <li class="list-group-item">
                            <div class="text-center">
                                <strong class="text-center">Judiciales</strong>
                            </div>
                            <div id="judicialLitigations">
                                @if (listJudicialLitigations.Count > 0)
                                {
                                    <ul class="list-group">
                                        @foreach (juditial_litigation litigation in listJudicialLitigations)
                                        {
                                            <li class="list-group-item cursor litigation-item" onclick="goToJudicialLitigationsPageByClientId( @litigation.id , @clientId)">
                                                <strong>@Html.ActionLink(litigation.litigation.recordNumber, "Index", "JudicialLitigation", new { @class = "general-label", @href = "javascript: goToJudicialLitigationsPageByClientId(" + litigation.id + ", " + clientId + ")" })</strong>
                                                @Html.Label(litigation.Actor, litigation.Actor,new { @hidden = "hidden" })
                                                @Html.Label(litigation.Defendant, litigation.Defendant,new { @hidden = "hidden" })
                                                @Html.Label(litigation.Court, litigation.Court,new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.actualState, litigation.litigation.actualState, new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.nextStepDate.ToString(), litigation.litigation.nextStepDate.ToString(), new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.nextStepDetail, litigation.litigation.nextStepDetail, new { @hidden = "hidden" })
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list-group">
                                        <li class="list-group-item cursor text-danger">
                                            <strong>
                                                Sin procesos judiciales
                                            </strong>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="text-center">
                                <strong>Administrativos</strong>
                            </div>
                            <div id="adminLitigations">
                                @if (listAdminLitigations.Count > 0)
                                {
                                    <ul class="list-group">
                                        @foreach (admin_litigation litigation in listAdminLitigations)
                                        {
                                            <li class="list-group-item cursor litigation-item" onclick="goToAdminLitigationsPageByClientId( @litigation.id ,  @clientId  )">
                                                <strong>@Html.ActionLink(litigation.litigation.recordNumber, "detailAdminLitigation", "AdminLitigation", new { @class = "general-label", @href = "javascript: goToAdminLitigationsPageByClientId(" + litigation.id + "," + clientId + ")" })</strong>
                                                @Html.Label(litigation.TaxAdmin, litigation.TaxAdmin, new { @hidden = "hidden" })
                                                @Html.Label(litigation.Type, litigation.Type, new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.actualState, litigation.litigation.actualState, new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.nextStepDate.ToString(), litigation.litigation.nextStepDate.ToString(), new { @hidden = "hidden" })
                                                @Html.Label(litigation.litigation.nextStepDetail, litigation.litigation.nextStepDetail, new { @hidden = "hidden" })
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <ul class="list-group">
                                        <li class="list-group-item cursor text-danger">
                                            <strong>
                                                Sin procesos administrativos
                                            </strong>
                                        </li>
                                    </ul>
                                }
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-7">
        </div>
    </div>
</div>
<div class="getClientsId" id="@clientId"></div>

<div class="modal fade no-padding-left" id="dialog-litigation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3><b>Agregar Proceso</b></h3>
            </div>
            @using (Html.BeginForm("CreateNewLitigation", "Litigation", FormMethod.Post))
            {
                <div class="modal-body">                
                    <div class="row-fluid">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @Html.Hidden(clientId.ToString(), clientId, new { @Name = "clientId" })
                                <div class="col-md-9">
                                    @Html.Label("Procesos Judiciales")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "1", isChecked: true)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    @Html.Label("Procediemientos Administrativos")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "2", isChecked: false)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row-fluid text-center">
                        <button id="btn-hide-modal" class="btn-cancelar">Cancelar</button>
                        <button class="btn-accept" type="submit">Crear</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade no-padding-left" id="dialog-eliminate-litigation" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3><b>Eliminar Proceso</b></h3>
            </div>
            @using (Html.BeginForm("Delete", "Litigation", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row-fluid">
                        <div class="col-md-8 col-md-offset-2">
                            <div class="form-group">
                                @Html.Hidden(clientId.ToString(), clientId, new { @Name = "clientId" })
                                <div class="col-md-9">
                                    @Html.Label("Procesos Judiciales")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "1", isChecked: true)
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-9">
                                    @Html.Label("Procediemientos Administrativos")
                                </div>
                                <div class="col-md-3">
                                    @Html.RadioButton("rdbLitigation", "2", isChecked: false)
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row-fluid text-center">
                        <button id="btn-hide-delete-modal" class="btn-cancelar">Cancelar</button>
                        <button class="btn-accept" type="submit">Eliminar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
