﻿@using LitigationICS.DAL
@model  litigation

@{
    ViewBag.Title = "Crear Proceso";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    int? clientId = int.Parse(ViewData["Client"].ToString());
}

<div class="container">
    <h3><b>Agregar Nuevo Proceso</b></h3>
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            @using (Html.BeginForm("AdminLitigationRegistered", "AdminLitigation", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("clientId", clientId)
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label for="">Número de Expediente:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.recordNumber, null, new { @maxlength = "30" })
                                        @Html.ValidationMessageFor(model => model.recordNumber)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Número de Translado de Cargo:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.admin_litigation.FirstOrDefault().transferCharges, null, new { @maxlength = "19" })
                                        @Html.ValidationMessageFor(model => model.admin_litigation.FirstOrDefault().transferCharges)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <label for="">Estimación:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.estimate, null, new { @onkeypress = "javascript: return isNumber(event)", @maxlength = "30" })
                                                @Html.ValidationMessageFor(model => model.estimate)
                                            </div>
                                            <br />
                                            @Html.RadioButton("coin", "$", isChecked: true)
                                            @Html.Label("$")
                                            <br />
                                            @Html.RadioButton("coin", "¢", isChecked: false)
                                            @Html.Label("¢")
                                            <br />
                                            <input type="checkbox" id="unrated" value="true" name="unrated" />
                                            <input type="hidden" id="unrated" value="false" name="unrated" />
                                            @Html.Label("Inestimado")
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Honorarios:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextAreaFor(model => model.fee, 4, 5, null)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Tipo:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.DropDownList("drpTypes", ViewData["Types"] as SelectList)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row-fluid">
                            <div class="panel panel-default height-bottom-secondpanel-default-admin-litigation">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="">Fecha de Inicio:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.TextBoxFor(model => model.initDate, null, new { @class = "datepicker-register-form" })
                                            @Html.ValidationMessageFor(model => model.initDate)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Estado Actual:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.DropDownList("drpStates", ViewData["States"] as SelectList)
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Siguiente Etapa:</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-1">
                                            <div class="">
                                                <label>Detalle:</label>
                                                <br />
                                                <div class="form-style-8">
                                                    @Html.TextBoxFor(model => model.nextStepDetail)
                                                </div>
                                            </div>
                                            <div class="">
                                                <label>Fecha:</label>
                                                <br />
                                                <div class="form-style-8">
                                                    @Html.TextBoxFor(model => model.nextStepDate, null, new { @class = "datepicker-register-form" })
                                                    @Html.ValidationMessageFor(model => model.nextStepDate)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Administración Tributaria:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.TextBoxFor(model => model.admin_litigation.FirstOrDefault().TaxAdmin, null, new { @maxlength = "30" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Objeto del Proceso:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.TextAreaFor(model => model.objectProcess, 1, 5, new { @id = "litigationTextArea" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2 no-padding-left no-padding-right">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <button class="btn-cancelar" id="btn-cancelar" type="button" onclick="getCancelarObservationOption();">Cancelar</button>
                                <button class="btn-accept" id="btn-guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
