﻿@using LitigationICS.DAL
@using LitigationICS.BLL

@{
    ViewBag.Title = "Eliminar Proceso";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    client client = (client)ViewData["client"];
    string recordNumber = String.Empty;
    List<admin_litigation> listAdminLitigations = (List<admin_litigation>)ViewData["adminLitigations"];
}

<div class="container">
    <h3><b>Eliminar Procesos Disponibles</b></h3>
    <h4>> <b>@Html.ActionLink(client.person.Name, "", "", new { @class = "general-label", @href = "javascript: goToLitigationsPageByClientId( " + client.id + ")" })</b></h4>
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            <div id="adminLitigation" class="list-group">
                <div class="left-inner-addon">
                    <i class="glyphicon glyphicon-search"></i>
                    @Html.TextBox("reportAdminLitigationFilter", null, new { type = "search", placeholder = "Filtrar", @class = "form-control" })
                </div>
                <div class="table-responsive">
                    <table class="table table-hover" id="table-responsive">
                        <thead>
                            <tr>
                                <th>Cliente</th>
                                <th>N° de Expediente</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (admin_litigation adminLitigation in listAdminLitigations.OrderByDescending(l => l.litigation.initDate))
                            {
                                <tr class="adminLitigation-item">
                                    <td>@adminLitigation.litigation.client_litigation.Where(cl => cl.idLitigation == adminLitigation.idLitigation).FirstOrDefault().client.person.Name</td>
                                    <td>@adminLitigation.litigation.recordNumber</td>
                                    <td>
                                        <button class="btn-link btn-confirm-delete" onclick="setAdminValuesForDelete(@adminLitigation.litigation.id,@adminLitigation.id, '@adminLitigation.litigation.recordNumber')">
                                            <img src="~/images/btn-delete.png" alt="plus" width="42" height="42" />
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="paging-nav padding-rightbottom-table-pager" id="pagination">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade no-padding-left" id="dialog-confirm-delete" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header text-left">
                <h3><b>Eliminar un Proceso</b></h3>
            </div>

            <div class="modal-body">
                <p>
                    Usted ha seleccionado la opción para eliminar el proceso
                    con el siguiente N° de Expediente <b id="recordNumber">@recordNumber</b>
                </p>
                <p>
                    Sí esta es la acción que desea efectuar,
                    porfavor confirme dicha elección, o si desea regresar a la pagina
                    seleccione la opción cancelar.
                </p>
            </div>

            @using (Html.BeginForm("deleteAdminLitigation", "AdminLitigation", FormMethod.Post))
            {
                @Html.Hidden("clientId", client.id)
                @Html.Hidden("adminLitigationId")
                @Html.Hidden("litigationId")
                <div class="modal-footer">
                    <div class="row-fluid text-right">
                        @Html.ActionLink("Cancelar", "/", null, new { @class = "btn btn-cancelar", @id = "btn-hide-confirm-modal" })
                        <button class="btn btn-accept" type="submit">Aceptar</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


