﻿@using LitigationICS.BLL
@using LitigationICS.DAL
@model litigation

@{
    ViewBag.Title = "Editar Proceso";
    Layout = "~/Views/Shared/layoutMasterPage.cshtml";
    string shortDate = String.Empty;
    int? clientId = int.Parse(ViewData["clientId"].ToString());
    string recordNumber = ViewData["recordNumber"].ToString();
}

<div class="container">
    <h3><b>Editar Proceso @recordNumber</b></h3>
    <hr />
    <div class="row-fluid">
        <div class="col-md-12">
            @using (Html.BeginForm("updateLitigation", "Litigation", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                @Html.Hidden("clientId", clientId)
                @Html.Hidden("litigationId", Model.id)
                @Html.Hidden("litigationType", false)
                <div class="row-fluid">
                    <div class="col-md-4 col-md-offset-2">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                @Html.ValidationSummary(true)
                                <div class="form-group">
                                    <label for="">Número de Expediente:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.recordNumber, null, new { @Name = "recordNumber", @maxlength = "30" })
                                        @Html.ValidationMessageFor(model => model.recordNumber)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Número de Translado de Cargo:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextBoxFor(model => model.admin_litigation.FirstOrDefault().transferCharges, null, new { @maxlength = "19" })
                                        @Html.ValidationMessageFor(model => model.admin_litigation.FirstOrDefault().transferCharges)
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <label for="">Estimación:</label>
                                            <br />
                                            <div class="form-style-8">
                                                @Html.TextBoxFor(model => model.estimate, null, new { @Name = "adminEstimate", @onkeypress = "javascript: return isNumber(event)", @maxlength = "30" })
                                                @Html.ValidationMessageFor(model => model.estimate)
                                            </div>
                                            <br />
                                            @if (Model.coin.Contains("$")){
                                                @Html.RadioButton("coin", "$", isChecked: true)
                                                @Html.Label("$")
                                                <br />
                                                @Html.RadioButton("coin", "¢", isChecked: false)
                                                @Html.Label("¢")
                                            }
                                            else if (Model.coin.Contains("¢")){
                                                @Html.RadioButton("coin", "$", isChecked: false)
                                                @Html.Label("$")
                                                <br />
                                                @Html.RadioButton("coin", "¢", isChecked: true)
                                                @Html.Label("¢")
                                            }
                                            <br />
                                            @if(Model.unrated.Value){
                                                <input type="checkbox" id="unrated" value="true" name="unrated" checked />
                                                <input type="hidden" id="unrated" value="false" name="unrated" />
                                                @Html.Label("Inestimado")
                                            }
                                            else{
                                                <input type="checkbox" id="unrated" value="true" name="unrated" />
                                                <input type="hidden" id="unrated" value="false" name="unrated" />
                                                @Html.Label("Inestimado")
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Honorarios:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.TextAreaFor(model => model.fee, 4, 5, new { @Name = "adminFee" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="">Tipo:</label>
                                    <br />
                                    <div class="form-style-8">
                                        @Html.DropDownList("drpTypes", ViewData["Types"] as SelectList, new { @Name = "adminType" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row-fluid">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="">Fecha de Inicio:</label>
                                        <br />
                                        @{
                                            shortDate = Model.initDate.ToString(IConstants.dateFormat);
                                        }
                                        <div class="form-style-8">
                                            @Html.TextBox("initDate", shortDate, new { @class = "datepicker-edit-form"  })
                                            @Html.ValidationMessageFor(model => model.initDate)
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="">Estado Actual:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.DropDownList("drpStates", ViewData["States"] as SelectList, new { @Name = "adminActualState" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Siguiente Etapa:</label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-1">
                                            <div class="">
                                                <label>Detalle:</label>
                                                <br />
                                                <div class="form-style-8">
                                                    @Html.TextBoxFor(model => model.nextStepDetail, null, new { @Name = "adminNextStepDetail" })
                                                    @Html.ValidationMessageFor(model => model.nextStepDetail)
                                                </div>
                                            </div>
                                            <div class="">
                                                <label>Fecha:</label>
                                                <br />
                                                @{
                                                    if (!String.IsNullOrEmpty(Model.nextStepDate.ToString())){
                                                        shortDate = Model.nextStepDate.Value.ToString(IConstants.dateFormat);
                                                    }
                                                    else{
                                                        shortDate = String.Empty;
                                                    }
                                                }
                                                <div class="form-style-8">
                                                    @Html.TextBoxFor(model => shortDate, null, new { @class = "datepicker-edit-form", @Name = "adminNextStepDate" })
                                                    @Html.ValidationMessageFor(model => model.nextStepDate)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Administración Tributaria:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.TextBoxFor(model => model.admin_litigation.FirstOrDefault().TaxAdmin, null, new { @Name = "adminTaxAdmin", @maxlength = "30" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="">Objeto del Proceso:</label>
                                        <br />
                                        <div class="form-style-8">
                                            @Html.TextAreaFor(model => model.objectProcess, 1, 5, new { @Name = "adminObjectProcess", @id = "litigationTextArea" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="col-md-8 col-md-offset-2 no-padding-left no-padding-right">
                        <div class="panel panel-default text-center">
                            <div class="panel-body">
                                <button class="btn-cancelar" id="btn-cancelar" type="button" onclick="getCancelarObservationOption();">Cancelar</button>
                                <button class="btn-accept" id="btn-guardar" type="submit">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
    
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
